dify_dsl/boost-papers-agent.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: boost-papers-agent
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload: {}
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: 1750313008999-llm
      source: '1750313008999'
      sourceHandle: source
      target: llm
      targetHandle: target
    - id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
    nodes:
    - data:
        desc: ''
        title: Start
        type: start
        variables: []
      id: '1750313008999'
      position:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: ''
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      id: llm
      position:
        x: 380
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        title: Answer
        type: answer
        variables: []
      id: answer
      position:
        x: 680
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
